MFC_ACTION_URL=https://myformcapture.com/f/
MFC_CONTACT_FORM_UUID=your_contact_form_uuid
MFC_NEWSLETTER_FORM_UUID=your_newsletter_form_uuid
MFC_CAREERS_FORM_UUID=your_careers_form_uuid
MFC_KEEP_INFORMED_FORM_UUID=your_keep_informed_form_uuid
